Alicia Sigmon als333@pitt.edu 9/10/2017

In [1]:
import pandas as pd

# Pandas Series Object: 

"An analog of a one-dimensional array with flexible indices"

pd.Series(data, index=index)

index is an optional argument

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

data values are a numpy array

In [3]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
data['b']

0.5

now you can choose the data based on your specified indices - similar to a dictionary

note: the dictionary is sorted by its keys!!

In [7]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

BUT you can perform operations like arrays -- the series is ORDERED unlike a true dictionary

In [8]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

Another example of a series, sorted the dictionary by keys

In [9]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

If you specify the indices outside of the series, only the specified indices appear

In [10]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

# Pandas Data Frame Object:

"An analog of a two-dimensional array with both flexible row indices and flexible column names"

GENERALIZED NUMPY ARRAY

 "The generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data."

In [11]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

Uses a dictionary to construct a 2d object containing area and population of the given states:

In [12]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

With Data Frames you can access columns in addition to accessing the indices

In [13]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [14]:
states.columns

Index(['area', 'population'], dtype='object')

SPECIALIZED DICTIONARY

 - DataFrame maps a column name to a series of column data

In [15]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [16]:
states['population']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
Name: population, dtype: int64

Data Frame from a single Series:

In [17]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

Data Frame from a List: (fills in missing numbers with NaN)

In [18]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [19]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

# Data Camp: Intermediate Python for Data Science

Chapter: Dictionaries, Pandas

 - dictionaries must contain immutable objects as keys
     - cannot be lists (mutable)
 - keys are unique
 - use del() to delete elements
 
 
 - dictionary: indexed by immutable keyes
     - look up unique keys
 - list: indexed by range of numbers
     - order matters