**Data Camp Panda Notes: Part 1**

- Panda is good for arrays with different types of variables

In [9]:
#Creating a panda - method 1: from a dictionary
#Keys = column labels, Values = data column by column

dict = {
    "name": ["Ben", "Andrea", "Mia", "Coffee"],
    "age": [35, 33, 2, 10],
    "hair": ["red", "black", "brown", "white"]
    }

import pandas as pd

family = pd.DataFrame(dict)

In [10]:
family

   age   hair    name
0   35    red     Ben
1   33  black  Andrea
2    2  brown     Mia
3   10  white  Coffee

In [14]:
#manually rename indices using .index method

family.index = ["B", "A", "M", "C"]
family

   age   hair    name
B   35    red     Ben
A   33  black  Andrea
M    2  brown     Mia
C   10  white  Coffee

In [20]:
#Creating a panda - method 2: from a CSV file
family_csv = "/Users/Benjamin's/Documents/Data_Science/Class-Practice-Repo/todo3/panda_notes_bnaismith.csv"
family = pd.read_csv(family_csv)

#Also add 'index_col = 0' so that index 0 becomes the category names

family = pd.read_csv(family_csv, index_col = 0)
family

   Age   Hair    Name
B   35    red     Ben
A   33  black  Andrea
M    2  brown     Mia
C   10  white  Coffee

**Data Camp Panda Notes: Part 2**

- how to select and index data

In [30]:
#using single square brackets -> series

print(type(family["Age"]))

family["Age"]

<class 'pandas.core.series.Series'>

B    35
A    33
M     2
C    10
Name: Age, dtype: int64

In [33]:
#using double square brackets -> series

print(type(family[["Age"]]))

family[["Age"]]

<class 'pandas.core.frame.DataFrame'>

   Age
B   35
A   33
M    2
C   10

In [34]:
#Or with two columns

family[["Age", "Hair"]]

   Age   Hair
B   35    red
A   33  black
M    2  brown
C   10  white

In [37]:
#Or a selection of rows, though square brackets has limited functionality

family[1:3]

   Age   Hair    Name
A   33  black  Andrea
M    2  brown     Mia

In [38]:
#Two other ways  = 'loc' and 'iloc'

family.loc["B"] #Single square brackets

Age      35
Hair    red
Name    Ben
Name: B, dtype: object

In [39]:
#or

family.loc[["B"]] #Double square brackets

   Age Hair Name
B   35  red  Ben

In [40]:
#or with more rows

family.loc[["B", "A"]] #Double square brackets

   Age   Hair    Name
B   35    red     Ben
A   33  black  Andrea

In [41]:
#or with only certain columns

family.loc[["B", "A"], ["Name"]]

     Name
B     Ben
A  Andrea

In [46]:
#can also use : to index certain columns

family.loc[:"M", ["Name"]]

     Name
B     Ben
A  Andrea
M     Mia

**loc (label-based) -> row and column access = better than just square brackets

In [52]:
#iloc is same as loc but based on index number instead of label

family.iloc[[0, 1], [2]]

     Name
B     Ben
A  Andrea

**Additional notes from Data Science Handbok**

- Index objects are immutable vs. NumPy arrays are mutable

Python Operator	Pandas Method(s)
+	add()
-	sub(), subtract()
*	mul(), multiply()
/	truediv(), div(), divide()
//	floordiv()
%	mod()
**	pow()

**Need to study/practice (even understand?) Ufuncs**

**Use 'None' or 'NaN' (Not a Number) for missing data**
- e.g. 1 + np.nan = nan

In [56]:
#Panda help package
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can  be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets
      - Intuitive merging and joining data sets
      - Flexible reshaping and pivoting of data sets
      - Hierarchical labeling of axes (possible to have multiple labels per tick)
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    stats (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/Applicati...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from '/Applications/anaconda/lib/python3....
    lib = <module 'pandas.lib' from '/Applications/anaconda/lib/python3.6/...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from '/Applications/anaconda/lib/pyth...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from '/Applications/anaconda/lib/python...

VERSION
    0.20.1

FILE
    /Applications/anaconda/lib/python3.6/site-packages/pandas/__init__.py