Paige Haring

peh40@pitt.edu

9.11.17

## PANDAS

### Intermediate Python for Data Science

#### What is Pandas?
- Pandas is a newer package built on top of NumPy for effecient implementation of a *DataFrame*
    - multidimensional arrays with attached row and column labels
    - full of different types
    - can have missing data
    - good for labeled data!
- Pandas helps with things NumPy can't do
    - working with labeled data, working with data where some is missing, etc.
    - can group and pivot data
    - *This is helpful because the data around us isn't always well structured*

#### Introducing Pandas Objects
A NumPy array whose rows and columns are given labels, not a numerical index

##### Series
- one-dimensional array of indexed data
- can be created from a list or array
- wraps both a sequence of values and a sequence of indices
    - values: a numpy array of the values you stored
    - index: array-like object pd.Index
- data can be accessed by the associated index

In [4]:
import numpy as np
import pandas as pd

#Create series from a list

grades = [99, 100, 85, 85, 70, 76, 40, 59, 64, 75, 75, 82, 84, 83]

grades_series = pd.Series(grades)

print("values: ", grades_series.values, type(grades_series.values))
print("indices: ", grades_series.index, type(grades_series.index))
grades_series

values:  [ 99 100  85  85  70  76  40  59  64  75  75  82  84  83] <class 'numpy.ndarray'>
indices:  RangeIndex(start=0, stop=14, step=1) <class 'pandas.core.indexes.range.RangeIndex'>

0      99
1     100
2      85
3      85
4      70
5      76
6      40
7      59
8      64
9      75
10     75
11     82
12     84
13     83
dtype: int64

Series are a lot like regular NumPy arrays, except the indices are *explicitly defined*, meaning they don't have to be integers!
- letters
- non-sequential integers

In [10]:
#Multiple choice: What is 2*2?
answers = pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd'])
print(answers)
answers['b']

a    2
b    4
c    6
d    8
dtype: int64

4

Series can also be looked at like Python dictionaries! However, Series keep track of type information (like an array as opposed to a Python list) making it more efficient. You can also perform some cool operations on it.

In [82]:
avgs = {'Cary': 90, 'Alex': 95, 'Stephanie': 70, 'Steven':63}
student_avgs = pd.Series(avgs) #NOTE: The dictionary is rearranged alphabetically by key
print(student_avgs, '\n')
print(student_avgs['Alex'], '\n')
print(student_avgs['Alex':'Stephanie']) #NOTE: This includes the value at the Stephanie index

Alex         95
Cary         90
Stephanie    70
Steven       63
dtype: int64

95

Alex         95
Cary         90
Stephanie    70
dtype: int64

##### pd.Series(data, index=index)
- data can be a list or NumPy array
    - index defaults to an integer sequence
- data can be a scalar to fill each spot in array with that scalar
    - must specify indices
- data can be a dict
    - index defaults to keys
- indices can always be explicitly declared

In [33]:
data1 = pd.Series([10, 20, 30, 40])
data2 = pd.Series(5, index=[1,2,3,4,5])
data3 = pd.Series({'x': 24, 'y': 25, 'z':26})
#Note: we can explicitly declare the indices and only those are kept
data4 = pd.Series({'x': 24, 'y': 25, 'z':26}, index=['x', 'z'])
data5 = pd.Series(5, index=[1,2,3,5])

print(data1, '\n')
print(data2, '\n')
print(data3, '\n')
print(data4, '\n')
print(data5, '\n')

#How can we do a scalar if we want there to be a large number of entries w/o typing each index?
data6 = pd.Series(5, index = np.linspace(0, 10, 11))
print(data6, '\n')

0    10
1    20
2    30
3    40
dtype: int64

1    5
2    5
3    5
4    5
5    5
dtype: int64

x    24
y    25
z    26
dtype: int64

x    24
z    26
dtype: int64

1    5
2    5
3    5
5    5
dtype: int64

0.0     5
1.0     5
2.0     5
3.0     5
4.0     5
5.0     5
6.0     5
7.0     5
8.0     5
9.0     5
10.0    5
dtype: int64

##### DataFrames
- two-dimensional array with both flexible row indices and flexible column names
- sequence of aligned Series objects
    - *aligned*- share the same index
- index attribute that gives access to the index (row) labels
- columns attribute, which is an Index object holding the column labels

In [39]:
#We will use student_avgs from before, and make anoter letter grade series right now
letter_grade = pd.Series(['A', 'A', 'C', 'D'], index=['Alex', 'Cary', 'Stephanie', 'Steven'])
grades = pd.DataFrame({'Grade': letter_grade, 'Average': student_avgs})
print(grades.columns)
print(grades.index)
grades

Index(['Average', 'Grade'], dtype='object')
Index(['Alex', 'Cary', 'Stephanie', 'Steven'], dtype='object')

           Average Grade
Alex            95     A
Cary            90     A
Stephanie       70     C
Steven          63     D

We can think of DataFrames as dictionaries that map a column name to a Series of column data

In [102]:
print(grades['Average'], '\n')
print(grades['Grade'], '\n')

#Note: grades['Alex'] cause an error. It does not return Alex 95 A
#But I feel like maybe it should?
print(grades['Average']['Alex'])

Alex         95
Cary         90
Stephanie    70
Steven       63
Name: Average, dtype: int64

Alex         A
Cary         A
Stephanie    C
Steven       D
Name: Grade, dtype: object

95

##### pd.DataFrame(population, columns=[columns])
- can be constructed from a single series
- can be constructed from a list of dictionaries
    - if some keys are missing, Pandas puts in NaN- not a number
- can be constructed from a dictionary of series objects
- can be constructed from a 2D numpy array

In [62]:
letter_grades_df = pd.DataFrame(letter_grade, columns = ['Grade'])
print(letter_grades_df)
ages = pd.DataFrame([{'Sister':18, 'Mom':50, 'Dad':51}], index=['Age'])
print(ages)

          Grade
Alex          A
Cary          A
Stephanie     C
Steven        D
     Dad  Mom  Sister
Age   51   50      18

##### Indexes
- immutable array or ordered set

In [63]:
#As an ordered set
indA = pd.Index([10, 20, 30, 40, 50])
indB = pd.Index([5, 10, 15, 'a', 'b'])

print(indA&indB)
print(indA|indB)

Index([10], dtype='object')
Index([10, 20, 30, 40, 50, 5, 15, 'a', 'b'], dtype='object')

#### Some Cool Indexing

In [72]:
'Alex' in student_avgs

True

In [73]:
student_avgs['Alex']

95

In [79]:
list(student_avgs.items())

[('Alex', 95), ('Cary', 90), ('Stephanie', 70), ('Steven', 63)]

In [89]:
student_avgs['Stephanie'] = 97
student_avgs

Alex         95
Cary         90
Stephanie    97
Steven       63
dtype: int64

In [81]:
student_avgs['Alex':'Stephanie']

Alex         95
Cary         90
Stephanie    97
dtype: int64

In [84]:
student_avgs[0:3]

Alex         95
Cary         90
Stephanie    70
dtype: int64

In [91]:
student_avgs[(student_avgs>60) & (student_avgs<90)] #NEED those parenthesis

Steven    63
dtype: int64

In [93]:
#Uses explicit index for indexing, implicit for slicing
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [94]:
data[1]

'a'

In [95]:
data[1:3]

3    b
5    c
dtype: object

In [97]:
data[3:5] #Empty because we dont have those implicit indices

Series([], dtype: object)

In [98]:
# .loc means you ALWAYS use the explicit index for indexing AND slicing
data.loc[1]

'a'

In [99]:
data.loc[1:3]

1    a
3    b
dtype: object

In [100]:
data.loc[3:5]

3    b
5    c
dtype: object

In [101]:
# .iloc uses the implicit
data.iloc[1]

'b'

In [105]:
#From above when I tried to index just the row of 'Alex' and couldn't
grades.loc['Alex']

Average    95
Grade       A
Name: Alex, dtype: object

**One guiding principle of Python code is that "explicit is better than implicit."**

**Indexing refers to columns, slicing refers to rows**

In [107]:
grades.T #transpose the DataFrame!

        Alex Cary Stephanie Steven
Average   95   90        70     63
Grade      A    A         C      D

Average    95
Grade       A
Name: Alex, dtype: object